<html lang="en">
<head>
    <meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Advert </title>
   <link href="{{asset('css/stylesheet.css')}}" rel="stylesheet" type="text/css" />

</head>
<body > 

<tr>
             <td>{{ advert.firstName }}</td>
             <td>{{ advert.lastName }}</td>
             <td>{{ advert.state }}</td>

         </tr>




  <p>
    <a href="{{ path('oc_platform_view') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>

  </p>

</body>
</html>
